body {
  background-image: url('https://wallpaperbrowse.com/media/images/07eLwj.jpg');
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
}